.movieWatched{
    border: 1px solid black;
    width: 800px;
}

.movieWatched_title{
    font-weight: bold;
}


.memberComp_title
{
    font-weight: bold;
}

.addSubComp{
    border: 1px solid red;
    width: 400px;
}

