.moviesPage{
    padding: 20px;
   
}

.moviesContainer{
    padding-top: 20px;
}

.moviesNavButtons{
    display: flex;
    gap: 20px;
}

.MovieButton{
    border-radius: 12px;
    width:200px;
    font-weight: bold;
    text-align:center; 
    /* line-height:1.1em;  */
    font-size:20px;
  

}


.MovieButton:active{
    color:blue;
}

.moviesMain{
    display: flex;
    text-align:left;
    

}

.allMoviesComp{
    display:flex;
    gap:20px;
    flex-direction:column;

}
.movieComp {
    border: 1px solid black;
    width: 1000px;
  
}

.subscription{
    border: 1px solid black;
    width: 800px;
}

.url_and_sub{
    display: flex;
    flex-direction:row;
    gap:20px;
    padding: 20px;

}

.div_imp{
    width: 150px;
    height: 250px;
}
.img{

    display: block;
    width: 100%;
    height:  100%;
    object-fit: cover;
  
}

.footerButtons{
    display: flex;
    gap: 10px;
    padding:20px;
}
